  
  .jumbotron {
    margin-bottom: 0px;
    height: 350px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: url('./assets/images/trainstation.jpg') no-repeat center center;
  }

  #table {
    width: 100%;

  }

  th, td {
    height: 35px;
    border: 1px solid black;
    text-align: center;
  }

  h2 {
    text-align: center;
  }